<h1>Editing reward</h1>

<%= f.error_messages %>
<%= render :partial => @reward, :locals => { :button_name => "Update"} %>
<%= link_to 'Show', [@calendar, @reward]%> |
<%= link_to 'Back', calendar_rewards_path(@calendar) %>