<h1>Listing fams</h1>

<table>
  <tr>
  </tr>

<% @fams.each do |fam| %>
  <tr>
    <td><%= link_to 'Show', fam %></td>
    <td><%= link_to 'Edit', edit_fam_path(fam) %></td>
    <td><%= link_to 'Destroy', fam, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fam', new_fam_path %>