<h1>Editing chore</h1>

<%= error_messages_for :chore %>
<%= render :partial => @chore, :locals => { :button_name => "Update"} %>
<%= link_to 'Back', chores_path %>
<%= link_to 'Show', [@calendar, @chore] %> |
