body { 
  background-color: #FFE4E1; 
  margin-left:auto;
  margin-right:auto;
  width: 1000px;
  color: white; 
}

body, p, ol, ul, td {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
width: 550px;
margin:auto;

}

h3{
color:black;
}

h2 {

margin-bottom: 20px;
border-bottom: 3px groove #800000;
padding:5px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
color: #800000; 
}

a:hover { 
color: #fff; background-color:#CC3300; 
}

div label {
margin: 0px 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.title {
color: #FFFFFF !important;
line-height: 60px;
text-decoration: none;
letter-spacing: 0.2em;
}

.box {
border:1px dotted white;
margin-bottom: 30px;
}

#titlebox {
border:3px groove #800000;
padding:40px;
background-color:#800000;
font-family:Snap ITC; 
font-size: 20px;
color: #FFFFFF;

}

#current {
text-align: right;
border-top:1px dotted white;
width: 600px;
margin-top: 30px;
padding-top: 10px;
}

#footer {
color: #FFFFFF;
border: 3px groove #800000;
background-color:#800000; 
text-align:center;
}

#errorExplanation {
  color: black;
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#created {
font-family:"Courier New", Courier, monospace;
font-style:italic;
font-size:11px;
}

#notice {
color: orange;
}

td a{
margin-left:5px;
margin-right:5px;
padding: 3px;
}

#details {
 		  
}

#members{
 clear:both;;
}

#chores{
  clear:both;
}

#events{
  clear:both;
}

li {

}

#draggable { }
	ul {float:left;
		padding:0px;}
	#calendar_entries li {clear:both;
		border:2px solid #800000;
		list-style-type:none;
		width:80px;
		overflow:hidden;
		height:80px;
		color:#800000;
	    background-color:#FFFFFF;}}
	li #draggable {border:2px solid #800000;
		}
	#calendar_grid	
	#details {float:left;
			  clear:both;
			  position:relative;
			  left:40;
			  }
	
	#name_of_day{
	   height:30px;
	   font-family:Snap ITC;
	   font-size: 15px;
	}
	
	li{
		margin:1px;
		padding:5px;
	}